.icons {
    color: black;
    text-decoration: none;
}

.icons:hover {
    text-decoration: none;
    color:darkblue;
}

.jumbotron {
    height: 100vh;
    padding-top: 0;
}

.vert-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar {
    float: right;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.topbar:hover {
    text-decoration: none;
    color: gray;
}

.thumbnail:hover {
    opacity: 10%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;

    background-color: black;
}

.overlay:hover {
    opacity: 1;
}

.caption {
    position: absolute;
    top: 10px;
    left: 30px;
}