.icons {
    color: white;
    text-decoration: none;
}

.icons:hover {
    text-decoration: none;
    color: #99F5FF;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.jumbotron {
    height: 100vh;
    padding-top: 0;
}

.vert-center {
    min-height: 75%;
    min-height: 75vh;
    min-width: 95%;
    min-width: 95vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topbar {
    float: right;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.topbar:hover {
    text-decoration: none;
    color: #99F5FF;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-coverImage {
    background-image: url('mainImages/background.jpg');
}